<div class="container custom-container-2">

  <!-- Show it when there is no stock -->
  <div class="no-data text-center" *ngIf="Stock.length == 0">
    <p>No Stock is present !!</p>
  </div>

  <div class="no-data text-left">
    <p>Create New stock !!</p>
    <button class="btn btn-outline-primary" routerLink="/create-stock">create-stock</button>
  </div>

  <!-- dont show when empty stock list-->
  <div *ngIf="Stock.length !== 0">
    <h3 class="mb-3 text-center">Stocks Details</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Current Price</th>
          <th scope="col">Last Update</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stock of Stock">
          <td>{{stock.id}}</td>
          <td>{{stock.name}}</td>
          <td>{{stock.currentPrice}}</td>
          <td>{{stock.lastUpdate}}</td>
          <td>
            <button class="btn btn-success btn-lg btn-block" routerLink="/update-stock/{{stock.id}}">Update</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
